/Angelina_Dataset
/images
Angelina_DS_merger.py
invertidor.py
BrailleNet.keras
BrailleNet.keras
/Braille_Dataset
Braille_Dataset.zip
/.conda
/Reconocimiento de caracteres braile en imagenes o textos/.conda
*.keras
/train